body {
    background-color: #0f0b1e;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    background: linear-gradient(90deg, #0f0b1e, #1a1235);
}

/* HERO */
.hero {
    background-image: url("../img/img03.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* IMPORTANTE */
    min-height: 100vh;
    height: auto;
}

.textojustificado{
    text-align: justify;
}

.laranja{
    color: #f4b702 !important;
}

/* Botão */
.btn-primary {
    background-color: #7b4fd8;
    border: none;
}

.btn-primary:hover {
    background-color: #825dd1;
}

/* Footer */
.footer {
    background: linear-gradient(180deg, #1a1235, #0f0b1e);
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: #ffb703;
}

.card-mito {
    background: rgba(15, 11, 30, 0.85);
    border-radius: 20px;
    border: 1px solid rgba(255, 193, 7, 0.3);
    overflow: hidden;
}

.card-mito img {
    height: 200px;
    object-fit: cover;
}
