<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitoverso | Espíritos</title>
    <link rel="stylesheet" href="static/style.css">                                          <!--Link css pessoal-->
    <link rel="shortcut icon" href="static/img/img01.png" type="image/x-icon">               <!--Link logo aba-->
</head>
<body>
    <head></head>
    <main></main>
    <footer></footer>
</body>
</html>