<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitoverso | Referências</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/img01.png') }}" type="image/x-icon">
</head>

<body>
    <!-- CABEÇALHO -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent py-4">
            <div class="container">

                <!-- LOGO -->
                <a class="navbar-brand fw-bold fs-4 text-warning laranja" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/img01.png') }}" alt="Logo Mitoverso" width="60" class="me-4">
                    Mitoverso
                </a>

                <!-- MENU MOBILE -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- LINKS -->
                <div class="collapse navbar-collapse justify-content-end" id="menu">
                    <ul class="navbar-nav align-items-center gap-3">

                        <!--LINK QUE LEVA PARA INDEX-->
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" href="{{ url_for('index') }}">Início</a>
                        </li>
                        
                        <!--LINK QUE LEVA PARA SOBRE-->
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" href="{{ url_for('sobre') }}">Sobre</a>
                        </li>

                        <!--LINK QUE LEVA PARA REFERÊNCIAS-->
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" href="{{ url_for('referencias') }}">Referências</a>
                        </li>

                        <!--LINK QUE LEVA PARA ACADÊMICO-->
                        <li class="nav-item">
                            <a class="nav-link fw-semibold text-white" href="{{ url_for('academico') }}">Acadêmico</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- CORPO -->
    <main>
        <section class="hero py-5">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-12 col-lg-10">
                        <div class="bg-black bg-opacity-50 text-light shadow-lg border-0 rounded-4 p-5">
                            <h4 class="text-warning mb-3 laranja">Fontes primárias</h4>
                            <p class="pinf"><strong>CABRAL, L. A. M. A Biblioteca do Pseudo Apolodoro</strong> e o estatuto da mitografia. Campinas, SP: [s.n.], 2013. Tese de Doutorado (Linguística) Universidade Estadual de Campinas, Campinas, SP, 2013.</p>
                            <p class="pinf"><strong>HESÍODO. Teogonia e Trabalhos e Dias.</strong> Tradução de Sueli Maria de Regino. Texto integral. São Paulo: Martin Claret, 2014.</p>
                            <p class="pinf"><strong>HOMERO. Ilíada.</strong> 1. ed. Tradução e prefácio de Frederico Lourenço. Introdução e apêndices de Peter Jones. Introdução à edição de 1950 E. V. Rieu. São Paulo: Penguin Classics Companhia das Letras, 2013.</p>
                            <p class="pinf"><strong>HOMERO. Odisseia.</strong> Tradução e prefácio de Frederico Lourenço. Introdução e notas de Bernard Knox. São Paulo: Penguin Classics Companhia das Letras, 2011.</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mb-5">
                    <div class="col-12 col-lg-10">
                        <div class="bg-black bg-opacity-50 text-light shadow-lg border-0 rounded-4 p-5">
                            <h4 class="text-warning mb-3 laranja">Fontes secundárias</h4>
                            <p class="pinf"><strong>CARVALHO, Carlos Alberto de. Teseu e Ariadne: aventura, abandono e terror.</strong> 1. ed. São Paulo: Dragon, 2021.</p>
                            <p class="pinf"><strong>DANIELS, Mark. A história da mitologia para quem tem pressa: de A a Z.</strong> Tradução de Heloísa Leal. Rio de Janeiro: Valentina, 2019.</p>
                            <p class="pinf"><strong>ÉSQUILO. Prometeu acorrentado.</strong> Tradução de J. B. Mello e Souza. [S.l.]: ABDR, [s.d.]</p>
                            <p class="pinf"><strong>EURÍPIDES. Medéia.</strong> Tradução de Miroel Silveira e Junia Silveira Gonçalves. [S.l.]: [s.n.], [s.d.].</p>
                            <p class="pinf"><strong>OVÍDIO. Metamorfoses.</strong> Tradução de Manuel Maria Barbosa du Bocage. 2. ed. [S.l.]: [s.n.], [s.d.].</p>
                            <p class="pinf"><strong>ROCHA, Ruth. Odisseia.</strong> Ilustrações de Eduardo Rocha. São Paulo: Companhia das Letrinhas, [s.d.]. (Série O Homem e a Comunicação).</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="bg-black bg-opacity-50 text-light shadow-lg border-0 rounded-4 p-5">
                            <h4 class="text-warning mb-3 laranja">Atenção</h4>
                            <p class="pinf"><strong>Todas as imagens utilizadas no projeto Mitoverso foram geradas ou tiveram o auxílio de ferramentas de Inteligência Artificial, com base em descrições elaboradas pela equipe. As criações visuais foram desenvolvidas exclusivamente para fins educativos e de apoio à apresentação do conteúdo, não representando material oficial ou histórico. Não contém fins lucrativos.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer text-light pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <h5 class="text-warning">Mitoverso</h5>
                    <p class="small">Mitologia, história, tecnologia e imaginação em um só lugar.</p>
                </div>

                <div class="col-md-4 mb-4">
                    <h5 class="text-warning">Links Rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('index') }}">Início</a></li>
                        <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                        <li><a href="{{ url_for('referencias') }}">Referências</a></li>
                        <li><a href="{{ url_for('academico') }}">Acadêmico</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-4">
                    <h5 class="text-warning">Contato</h5>
                    <p class="small mb-1">Email: mitoverso.ifn@gmail.com</p>

                    <p class="small">Desenvolvido por Julia 💜</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    </script>

</body>
</html>